$main-bgc-white: #ffffff;
$secondary-bgc-grey: #f5f4fa;
$footer-bgc: #2f303a;
$focused-color: #2196f3;
$prime-text-color: #212121;
$description-text-color: #757575;
$main-black-color: #000000;
$footer-dark-grey-text-color: rgba(255, 255, 255, 0.4);
$transform-cubic: cubic-bezier(0.4, 0, 0.2, 1);
$main-transition-speed: 250ms;
$main-section-width: 1200px;
